<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Websockets Client</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
</head>
<body>
    <div id="v-app">
        <h1>{{ title }}</h1>
        <form>
            <input v-model="text" type="text"/>
            <button type="submit" @click.prevent="sendMessage()">Send</button>
        </form>
        <p>
            <ul>
                <li v-for="msg of messages">{{ msg }}</li>
            </ul>
        </p>
    </div>
    <script>
        var app = new Vue({
            el: '#v-app',
            data: {
                title: 'Websockets Tester',
                text: '',
                messages: ['Some message', 'Another message'],
                socket: null,
            },
            methods: {
                sendMessage() {
                    console.log(`send: ${this.text}`);
                    this.socket.emit('msgToServer', this.text);
                    this.text = "";
                },
                receiveMessage(msg) {
                    console.log(`recv: ${msg}`);
                    this.messages.push(msg);
                }
            },
            created() {
                this.socket = io('http://localhost:3001/posts');
                this.socket.on('msgToClient', (msg) => {
                    this.receiveMessage(msg);
                });
            }
        });
    
    </script>
</body>
</html>